
# folders
/tmp/
/pyCloaker/__pycache__/
/pyCloaker/lib/build/
/pyCloaker/lib/Cloaker/
/pyCloaker/libadapter/__pycache__/
/*egg-info*/

# files
*main*
*test*
*tmp*
*outfile*
*.so
*.lock
*.jpg
*.png


# whitelist
!/pyCloaker/lib/Cargo.toml
